<a href="https://colab.research.google.com/github/zami-dot/Data_Science/blob/main/LAb_2_20SW046.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


LAB 2

Roll_no 20SW046

Section 2

LAB 2

# TASK 1
Write an if that know competator for prize they have won according to number of point they scored

1 - 50 wooden rabit

51 - 150  no prize

151 - 180 water-thin mint

181 - 200 penguin

In [ ]:
points = 174 # use this input to make your submission
result = "";
#points = 50
#points = 101
#points = 181
#point = 210
#points = -10
if (points>=1 and points <= 50):
  result = "Congratulations! you have won a wooden rabit"

elif (points>=51 and points <= 150):
  result = "Oh dear! no prize this time"

elif (points>=151 and points <= 180):
  result = "Congratulations! you have won a water-thin mint"
elif (points>=181 and points <= 200):
  result = "Congratulations! you have won a penguin"
else:
  result = "Oh dear! no prize this time"



# write your if statement here
print(result)

Congratulations! you have won a water-thin mint

# TASK 2
Guess My Number
You decide you want to play a game where you are hiding a number from someone.
Store this number in a variable called 'answer'. Another user provides a number
called 'guess'. By comparing guess to answer, you inform the user if their guess is too
high or too low.

In [ ]:
# '''
# You decide you want to play a game where you are hiding
# a number from someone. Store this number in a variable
# called 'answer'. Another user provides a number called
# 'guess'. By comparing guess to answer, you inform the user
# if their guess is too high or too low.
# Fill in the conditionals below to inform the user about how
# their guess compares to the answer.
# '''
answer =122 #provide answer
guess = 46 #provide guess
if (answer > guess):
 result = "Oops! Your guess was too low."
elif (answer < guess):
 result = "Oops! Your guess was too high."
elif (answer == guess):
 result = "Nice! Your guess matched the answer!"
print(result)

Oops! Your guess was too low.

# TASK 3
Depending on where an individual is from we need to tax them appropriately. The
states of CA, MN, and NY have taxes of 7.5%, 9.5%, and 8.9% respectively. Use this
information to take the amount of a purchase and the corresponding state to assure
that they are taxed by the right amount

In [ ]:
state = "MN"
purchase_amount = 13
if state == "CA":
        tax_amount = .075
        total_cost = purchase_amount+purchase_amount*(tax_amount)
        result = "Since you're from {}, your total cost is {}.".format(state, total_cost)

elif state == "MN":
        tax_amount = .095
        total_cost = purchase_amount+purchase_amount*(tax_amount)
        result = "Since you're from {}, your total cost is {}.".format(state, total_cost)

elif state == "NY":
        tax_amount = .089
        total_cost = purchase_amount+purchase_amount*(tax_amount)
        result = "Since you're from {}, your total cost is {}.".format(state, total_cost)

print(result)

Since you're from MN, your total cost is 14.235.

#Task 4
Use a for loop to take a list and print each element of the list in its own line.
Example:
sentence = ["the", "quick", "brown", "fox", "jumped", "over", "the",
"lazy", "dog"]
Output:
the

quick

brown

..

In [ ]:
sentence = ["the", "quick", "brown", "fox", "jumped", "over", "the", "lazy", "dog"]
for word in sentence:
  print(word)

the
quick
brown
fox
jumped
over
the
lazy
dog

#TASK 5
Multiples of 5
Write a for loop below that will print out every whole number that is a multiple of 5
and less than or equal to 30
This should output:
5
10
15
20
25
30

In [ ]:
for i in range(5,35,5):
  print(i)

5
10
15
20
25
30

#Task 6
Extract First Names
Use a list comprehension to create a new list first_names containing just the first
names in names in lowercase.

In [ ]:
names = ["Rick Sanchez", "Morty Smith", "Summer Smith", "Jerry Smith", "Beth Smith"]
first_names = [name.lower().split()[0] for name in names]# write your list comprehension here
print(first_names)

['rick', 'morty', 'summer', 'jerry', 'beth']

#TAsk 7
Use a list comprehension to create a list multiples_3 containing the first 20
multiples of 3.
multiples_3 = # write your list comprehension here
print(multiples_3)

In [ ]:
multiples_3 = [x for x in range(3,3*20+1,3)] # write your list comprehension here
print(multiples_3)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60]

#TASK 8
Filter Names by Scores
Use a list comprehension to create a list of names passed that only include those
that scored at least 65

In [ ]:
scores = {
 "Rick Sanchez": 70,
 "Morty Smith": 35,
 "Summer Smith": 82,
 "Jerry Smith": 23,
 "Beth Smith": 98
 }
passed =[name for name, score in scores.items() if score >= 65]# write your list comprehension here
print(passed)

['Rick Sanchez', 'Summer Smith', 'Beth Smith']

#TASK 9
Use zip to create a dictionary cast that uses names as keys and heights as
values.

In [ ]:
cast_names = ["Barney", "Robin", "Ted", "Lily", "Marshall"]
cast_heights = [72, 68, 72, 66, 76]
cast = dict(zip(cast_names, cast_heights))
print(cast)

{'Barney': 72, 'Robin': 68, 'Ted': 72, 'Lily': 66, 'Marshall': 76}

#TASK 10
Use enumerate to modify the cast list so that each element contains the
name followed by the character's corresponding height. For example, the first
element of cast should change from "Barney Stinson" to "Barney Stinson
72".

In [ ]:
cast = ["Barney Stinson", "Robin Scherbatsky", "Ted Mosby",
"Lily Aldrin", "Marshall Eriksen"]
heights = [72, 68, 72, 66, 76]
# write your for loop here
for index, height in enumerate(heights):
    s = "{} {}".format(cast[index], height)
    cast[index] = s
print(cast)

['Barney Stinson 72', 'Robin Scherbatsky 68', 'Ted Mosby 72', 'Lily Aldrin 66', 'Marshall Eriksen 76']