<a href="https://colab.research.google.com/github/zami-dot/Data_Science/blob/main/LAb_1_20SW046.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


LAB 1

Roll_no 20SW046

Section 2

LAB 1

# TASK 1

# Write two lines of code below, each assigning a value to a variable
# Now write a print statement using .format() to print out a sentence and the
# values of both of the variables

In [1]:
name = "Zameer"
roll = "20sw046"
print("my name is {} and roll no is {}".format(name,roll))

my name is Zameer and roll no is 20sw046

# TASK 2
# Browse the complete list of string methods at:
# https://docs.python.org/3/library/stdtypes.html#string-methods
# and try them out here

In [2]:
sentence = "Hello my name is Zameer my roll no is 46"
print("Type "+str(type(sentence)))
print("length "+str(len(sentence)))
print("Capitalize "+str(sentence.capitalize()))
print("Casefold "+str(sentence.casefold()))
print("To uppercase "+str(sentence.upper()))
print("To lowercase "+str(sentence.lower()))
print("Endwith 46? "+str(sentence.endswith("46")))
print("startwith Hello ? "+str(sentence.startswith("Hello")))
print("have Zameer? in string "+str("Zameer" in sentence))
print("find Zameer? in string "+str(sentence.find("Zameer")))
print("Index of '46' "+str(sentence.index("46")))
print("IS Alpha "+str(sentence.isalpha()))
print("IS num "+str(sentence.isalnum()))
print(sentence[0:10])
print("count occurance of 46 "+str(sentence.count("46")))
print("split string "+str(sentence.split()))

Type <class 'str'>
length 40
Capitalize Hello my name is zameer my roll no is 46
Casefold hello my name is zameer my roll no is 46
To uppercase HELLO MY NAME IS ZAMEER MY ROLL NO IS 46
To lowercase hello my name is zameer my roll no is 46
Endwith 46? True
startwith Hello ? True
have Zameer? in string True
find Zameer? in string 17
Index of '46' 38
IS Alpha False
IS num False
Hello my n
count occurance of 46 1
split string ['Hello', 'my', 'name', 'is', 'Zameer', 'my', 'roll', 'no', 'is', '46']

# TASK 3
List Indexing
Use list indexing to determine how many days are in a particular month based on the
integer variable month , and store that value in the integer variable num_days . For
example, if month is 8, num_days should be set to 31, since the eighth month, August,
has 31 days.
Remember to account for zero-based indexing

In [9]:
month = 8
days_in_month = [31,28,31,30,31,30,31,31,30,31,30,31]
# use list indexing to determine the number of days in month
num_days=days_in_month[month-1]
print(num_days)

31

# TASK 4
Select the three most recent dates from this list using list slicing notation. Hint: negative indexes
work in slices!
eclipse_dates = ['June 21, 2001', 'December 4, 2002', 'November 23,
2003',
 'March 29, 2006', 'August 1, 2008', 'July 22, 2009',
 'July 11, 2010', 'November 13, 2012', 'March 20,
2015',
 'March 9, 2016']

 TODO: Modify this line so it prints the last three elements of the
list
print(eclipse_dates)

In [7]:
eclipse_dates = ['June 21, 2001', 'December 4, 2002', 'November 23, 2003',
 'March 29, 2006', 'August 1, 2008', 'July 22, 2009',
 'July 11, 2010', 'November 13, 2012', 'March 20, 2015',
 'March 9, 2016']


# TODO: Modify this line so it prints the last three elements of the
list
print(eclipse_dates[-3:])

['November 13, 2012', 'March 20, 2015', 'March 9, 2016']

# TASK 5
Store studentâ€™s data using nested dictionary.

In [8]:
Students = {"Zameer": {"name": "Zameer",
 "weight": 70,
 "rollno": "20SW46",
 "section": 2
 },
 "Waseem": {"name": "Waseem",
 "weight": 25,
 "rollno": "20SW22",
 "section": 2
 }}
print(Students["Zameer"]["rollno"])

20SW46